# API Configuration
VITE_AUTH_API_URL=http://localhost:8001/api/v1
VITE_CORE_API_URL=http://localhost:8002/api/v1

# Logging Configuration
# Can be DEBUG, INFO, WARN, ERROR (default is WARN)
VITE_LOG_LEVEL=WARN
